
/*******************************************************
 * ROFI configs i3 powermenu for EndeavourOS
 * Maintainer: joekamprad <joekamprad@endeavouros.com>
 *******************************************************/
configuration {
    font:            "MonoLisa Nerd Font 10";
    show-icons:      false;
    icon-theme:      "Qogir";
    scroll-method:   0;
    disable-history: false;
    sidebar-mode:    false;
}

@theme "~/.config/rofi/theme.rasi"

